@model Client;
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
        <table>
            <thead>
               <td>Name</td>
               <td>Surname</td>
               <td>Email</td>
            </thead>
            <tr>
                <td>@Model.ClientName</td>
                <td>@Model.ClientSurname</td>
                <td>@Model.ClientEmail</td>
            </tr>
        </table>
    </body>
</html>
